.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.header {
  background-color: #ffffff;
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.country {
  margin-right: 40px;
  font-weight: 700;
}

#map {
  padding: 10px;
}


.info-name {
  font-weight: 900;
}

.info-container {
  width: 20%;
  background-color: aquamarine;
  z-index: 100;
  top:0;
  bottom:0;
  

}